.col-lg-10{
    width:75%;
}
.col-lg-2{
    width:25%;
}
.end1{
    margin:30px;
    h2{
        font-size: 20px;
        line-height:30px;
        span{
            font-style: italic;
            font-size:30px;
            color:orange;
        }
    }
    p{
        font-size: 15px;
    }
}
.end2{
    margin:30px;
    button{
        background-color: orange;
        border-radius:40px;
        width: 80%;
        height: 45px;
        border: none;
        font-size: 14px;
    }
}
.but{
    span{
        background-color: #fff;
        border-radius: 25px;
        padding:3px 8px;
        font-size: 10px;
        margin-left:10px ;
    }
}
.col-lg-7{
    width: 58.33%;
}
.col-lg-5{
    width: 41.66%;
}
.end3{
    h2{
        line-height: 50px;
    }
    span{
        text-decoration: underline;
        font-size: 15px;
        color: rgba(0, 0, 116, 0.74);
    }
}
.end3{    
    p{
        font-size: 15px;
    }
}
.end4{    
    p{
        font-size: 15px;
    }
}
.end4{
    h2{
        line-height: 50px;
    }
}
.end5{    
    p{
        font-size: 15px;
        word-spacing:30px;
    }
}
.end5{
    h2{
        line-height: 50px;
    }
}
 .end6{
    line-height: 90px;
    display: flex;
    justify-content:space-evenly;
 } 
 .end7{
    button{
        border-radius: 35px;
        padding: 10px 30px;
        background-color: black;
        color: #fff;
        border: none;
       }
 }
.end7{
    .play{
        float:left;
    }
}
.end8{
    .face{
        width:40px;
        color: rgb(56, 56, 240);
    }
}
.end8{
    .tw{
        width:40px;
        color:#08d8f3;
    }
}
.end8{
    .in{
        width:40px;
        color: rgba(19, 19, 228, 0.897);
    }
}
.end8{
    .you{
        width:40px;
        color: rgba(238, 35, 35, 0.904);
    }
}
.end8{
    .inst{
        width:40px;
        color: rgb(252, 13, 172);
    }
}
.col-lg-12{
    width: 100%;
    font-size: 15px;
    margin:30px 0px;
}











@media(max-width:576px){
    .col-lg-10{
        width: 100%;
    }
    .end1{
        h2{
            font-size: 15px;
        }
        
    }
    .col-lg-2{
        width: 100%;
    }
    .col-lg-7{
        width: 100%;
    }
    .col-lg-5{
        width: 100%;
    }
    .end6{
        width:100%;
    }
    .end7{
        button{
            display: none;
            // display: flex;
            // width:90%;
            // margin:15px;          
        }
    }
    .end8{
        // display: none;
        width: 100%;
        text-align: center;
    }
}